
<!--id=59-->
{%if page.handle == 'tv-stands-entertainment-center-tv-console' %}
	{% assign name= 'TV Stands, TV Cabinets & Media Console' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/tv-stands-panels" %}
	{%assign name_title= "<h2 class='headings'> TV PANELS, TV STANDS, TV CABINETS, MEDIA CONSOLES & ENTERTAINMENT CENTERS </h2>"%}
	{% assign name_description="<p>TV stands, TV Cabinets & Media Consoles are perfect for placing your TV to give you a better viewing angle, and add plenty of storage space for related electronic accessories. </p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/mosac2_800x.jpg?v=1608639935"%}
	{%assign description="<p>At Modish, we have a curated collection of products in <b>home decor, furniture and lighting</b> for your modern home. The Modish catalogue brings you TV stands, TV Cabinets and Media Console from reputed brands like <b>Kalalou, Modway, HomArt, Zuo, Modloft etc.</b> Learn all you need to know about TV stands before you shop to ensure that you make an informed decision.</p>" %}
	{%assign name_handle= "tv-stands-panels" %}

{%elsif page.handle == 'reclaimed-recycled-wood-furniture' %}
	{% assign name= 'Reclaimed Recycled Wood Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sustainable" %}
	{%assign name_title= "<h2 class='headings'>RECLAIMED RECYCLED WOOD FURNITURE</h2>"%}
	{% assign name_description="<p> Each piece at Modish has its own story to tell. Every bump & groove is a tell-tale sign of a previous life. Add a sense of history to your home. </p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/Sustainable_Desktop_1920x.jpg?v=1532519759"%}
	{%assign description="<p>At Modish, we have a curated collection of products in <strong>home decor</strong>, <strong>furniture and lighting</strong> for your modern home. Our special focus on <strong>sustainability and environment</strong> has led to a large range of <strong>refurbished, reclaimed &amp; recycled products</strong> that are stylish and chic. The Modish catalogue consists of <strong>high quality, exquisite, hand-crafted or artisan made</strong> items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <strong>Kalalou, Artisan Living, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></p>"%}
	{%assign name_handle= "sustainable" %}

{%elsif page.handle == 'bamboo-wicker-rattan-furniture' %}
	{% assign name= 'Bamboo, Wicker, and  Rattan Furniture & Lighting' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sustainable" %}
	{%assign name_title= "<h2 class='headings'>BAMBOO, WICKER, AND  RATTAN FURNITURE & LIGHTING</h2>"%}
    {% assign name_description="<p>Wicker, Bamboo Or Rattan Furniture & Lighting - each piece has it’s own story to tell. Every ring or knot on the wood reminds you of its green, sustainable forested origins. Get one for your home - it’ll bring a part of the forest’s heritage into your life.</p>" %}
	
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/bamboo_wicker_rattan_furniture.jpg?15797349802715854867"%}
	{%assign description="<p>At Modish, we have a curated collection of products in <strong>home decor, furniture and lighting</strong> for your modern home. Our special focus on <strong>sustainability and environment</strong> has led to a large range of <strong>wicker, bamboo, rattan and cane</strong> furniture products that are stylish and chic. The Modish catalogue consists of <strong>high quality, exquisite, hand-crafted or artisan made</strong> items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <strong>Kalalou, Artisan Living, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc</strong>.</p>"%}
	{%assign name_handle= "bamboo" %}

{%elsif page.handle == 'christmas-tree-decorations-ornaments-lights-gifts' %}
	{% assign name= 'Christmas Tree Decorations, Ornaments, Lights, Gifts' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='headings'>CHRISTMAS TREE DECORATIONS, ORNAMENTS, LIGHTS, GIFTS</h2>"%}
	{% assign name_description="<p> We cherish those special occasions when your family gets together for celebrating festivals, holidays and parties. Modish has a precious collection of Christmas decorations, ornaments, lighting and gifts to suit your taste and style. </p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/christmas-ornament.jpg?13716925887457111355"%}
	{%assign description="<p>At Modish, we have a curated collection of products in <strong>home decor, furniture, outdoors and lighting</strong> for your modern home. Our special focus on <strong>family holidays and festivals</strong> has led to a large range of <strong>Christmas decorations, ornaments, Xmas lighting and gifts</strong> that are stylish and chic. The Modish catalogue consists of <strong>high quality, exquisite, hand-crafted or artisan made</strong> items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like&nbsp;<strong>Kalalou, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></p>"%}
	{%assign name_handle= "black-friday-sale" %}

{%elsif page.handle == 'buddha-buddhism-inspired-products-hand-palm-buddha-chair-head-busts' %}
	{% assign name= 'Top Buddha & Buddhism Inspired Products On Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='headings'>TOP BUDDHA & BUDDHISM INSPIRED PRODUCTS ON MODISH</h2>"%}
	
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-buddha-banner.jpg?v=1585543581"%}
	{%assign description="<p>Those are just some of the emotions Buddhism inspires. And it wouldn't be wrong to say that a host of people would want their interiors to reflect these values. In a world filled with constant ups and downs, Buddhist aesthetics and meditation offer a way to stay grounded and calm, without the clutter. Here are ten ways to transform areas of your home or office into a peaceful sanctuary, inspired by a Buddhist lifestyle. With the most inspiring Buddha statues, Buddha gifts, Buddha chairs, Buddha heads, busts, lucky charms, paintings, and more, it's time to raise your spiritual quotient.</p>"%}
	{%assign name_handle= "" %}

{%elsif page.handle == 'bamboo-rattan-lamps-lighting-chandeliers' %}
	{% assign name= 'Bamboo and Rattan Lamps, Lighting, & Chandeliers' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/artisan-living-lamps" %}
	{%assign name_title= "<h2 class='headings'>BAMBOO RATTAN LAMPS, LIGHTING, AND CHANDELIERS</h2>"%}
    {% assign name_description="Every Lamp, Lighting Or Chandelier Made From Bamboo Or Rattan Wicker Has It’s Own Story To Tell. Get One For Yourself - It’ll Add A Dash Of Style & Elegance To Your Cherished Home!" %}
	
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/image_2020_02_11T05_19_24_090Z.png?v=1581400755"%}
	{%assign description="<p>At Modish, we have a curated collection of driftwood decor, furniture and lighting products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Artisan Living, Kalalou, Uttermost, Garden Age, Modway, HomArt, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "artisan-living-lamps" %}

{%elsif page.handle == 'top-teak-root-furniture-to-buy-from-modish' %}
	{% assign name= 'Top Teak Root Furniture to Buy from Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sustainable" %}
	{%assign name_title= "<h2 class='headings'>TOP TEAK ROOT FURNITURE TO BUY FROM MODISH</h2>"%}
	{% assign name_description="<p> Each piece at Modish has its own story to tell. Every bump & groove is a tell-tale sign of a previous life. Add a sense of history to your home. </p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/Sustainable_Desktop_1920x.jpg?v=1532519759"%}
	{%assign description="<p>When it comes to choosing furniture for your house, <strong>teak root furniture</strong> can be an exotic choice. Teak root furniture is stylish, durable and adds a lot of character to any space. It is also weather-resistant which makes it a perfect choice for craftsmen for building both indoor and outdoor furniture.</p><p>Teak originates from <em>Tectona Grandis</em>, a species of hardwood tree that is found in South Asia and belongs to the <em>Lamiaceae</em> family. At present, <em>Myanmar</em> has the largest number of teak trees, though teak was introduced in the forests of Indonesia 400 years ago during the occupation of the Dutch. These trees are large deciduous trees that have fragrant white flowers and rough leaves.</p><p>The wood obtained from the center of the tree has a golden yellow appearance and is commonly called <em>heartwood teak</em>. It has natural oils, resins, and terpenes that make it resistant to decay. <em>Sapwood teak</em> is the outer part of a teak tree and has a creamy color. It has a lower content of natural oils that makes it more prone to damage.</p><h2><strong>How is the teak root used?</strong></h2><p>The roots of a teak tree can also be used for manufacturing stunning pieces of furniture. The root wood has a rich golden tone and is blessed with natural durability that helps craftsmen to design bespoke pieces. Items such as <strong>teak root coffee table, teak root console table, teak root bench, teak root plant stand or teak root dining table</strong> can be created from whole teak root pieces.</p><p>Teak root wood is obtained from fallen teak trees. The roots are dug up from the ground and dried to enhance the durability. Once the root is ready for use, artisans study the cluster of roots to determine how the root can be shaped into a piece of furniture. Therefore, the design of each furniture is guided by the natural shape of the roots and that makes them completely unique. Some root clusters are also carved into <strong>teak root sculptures</strong> that can serve as a true statement piece for your decor.</p><h2><strong>Why opt for teak root furniture?</strong></h2><p>The uniqueness associated with teak root attracts everyone. A bookshelf or bed made out of teak root wood can last for a lifetime. Teak wood has water-resistant properties and does not splinter easily. It can also withstand extreme temperatures due to its high oil content. From elegant tables to attractive display furniture, teak wood is very versatile and is a top choice of furniture connoisseurs.</p><p>However, the quality of teak root furniture pieces available in the market varies. So always make a thorough assessment before making the purchase.</p><h2><strong>Adorn your space with these lovely creations</strong></h2><p>If you are looking to spruce up the decor of your space, adding new furniture is a great option. We have curated a list of exquisite teak root furniture available on Modish that will truly transform your space.</p>"%}
	{%assign name_handle= "" %}

{%elsif page.handle == 'buy-petrified-wood-furniture-for-sale' %}
	{% assign name= 'Petrified Wood Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/petrified-wood" %}
	{%assign name_title= "<h2 class='headings'>PETRIFIED WOOD FURNITURE</h2>"%}
	{% assign name_description="Petrified Wood is fossilized wood from million years old trees, beautifully preserved as wood-stone. <br>You can now grace your home with a rare piece of petrified wood as a coffee table, <br>dining table or a stool."%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/FireShot_Capture_6_-_Large_Petrified_Wood_Table_with_4_Hand__-_https___www.1stdibs.com_furniture_t_1.jpg"%}
	{%assign description=""%}
	{%assign name_handle= "petrified-wood" %}

{%elsif page.handle == 'dining-tables-dining-sets-modway-modloft-flash-lumisource-control-brand' %}
	{% assign name= 'Dining Tables &amp; Dining Sets' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/dining-room" %}
	{%assign name_title= "<h2 class='headings'>DINING TABLES AND DINING SETS</h2>"%}
	{% assign name_description="<p>Every dining table or dining set you buy from Modish has it’s own story to tell. Get one for yourself - it’ll add a dash of style & elegance to your cherished home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/111_1.png?v=1595231306"%}
	{%assign description="<p>At Modish, we have a curated collection of dining tables and dining sets for your modern home. The Modish catalogue consists of high quality, exquisite, elegantly designed dining furniture pieces across a wide variety of sizes, styles and designs. We sell reputed brands like <em><strong>Modway, Lumisource, Whiteline, Modloft, Control Brand, Flash, Artisan Living, Kalalou, Uttermost, Garden Age, HomArt, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "dining-room" %}

{%elsif page.handle == 'top-selling-candle-holders-candelabras-votives-tealights' %}
	{% assign name= 'Top Selling Candle Holders Candelabras Votives Tealights' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='headings'>TOP SELLING CANDLE HOLDERS CANDELABRAS VOTIVES TEALIGHTS</h2>"%}
	{% assign name_description=""%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-banner_31b2aecd-1462-4be2-87a4-fa01b186c538.jpg?v=1594708436"%}
	{%assign description="<p>Intimate dinners, romantic occasions, and cozy nooks aren't complete without candlelight. To embrace and frame the candles, there are a variety of <strong>candlestick holders, candle wall sconces, votive candle holders</strong>, hurricanes, and <strong>tea light candle holders</strong> to choose from. At Modish, we have a collection that fits any mood and uplifts every moment. These <strong>candelabras</strong>, votives and tealights are designed to cast a soft and flattering light on the surroundings. The illumination they provide is perfectly suited to light up all those quiet, cherished moments.</p><p>Take a look at our bestselling <strong>candle holders</strong> and get ready for your home to fill with an enchanting glow.</p>"%}
	{%assign name_handle= "" %}
{%elsif page.handle == 'buy-driftwood-furniture-decor-lighting' %}
	{% assign name= 'Driftwood Furniture, Decor & Lighting' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sustainable" %}
	{%assign name_title= "<h2 class='headings'>DRIFTWOOD FURNITURE, DECOR & LIGHTING</h2>"%}
	{% assign name_description="<p>Every Piece Of Driftwood Furniture Or Decor Has It’s Own Story To Tell. Every Groove, Ridge Or Knot On The Wood Reminds You Of The Storms And Waves It Has Managed To Endure During Its Watery Journey. Get One For Your Home - It’ll Bring A Part Of The Ocean’s Heritage Into Your Life.</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/Sustainable_Desktop_1920x.jpg?v=1532519759"%}
	{%assign description="<p>At Modish, we have a curated collection of driftwood decor, furniture and lighting products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Kalalou, Artisan Living, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "sustainable" %}

{%elsif page.handle == 'buy-leather-furniture-decor-chairs' %}
	{% assign name= 'Leather Furniture and Decor' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sustainable" %}
	{%assign name_title= "<h2 class='headings'>LEATHER FURNITURE AND DECOR</h2>"%}
	{% assign name_description="<p>Every Piece Of Leather Furniture Or Decor Has It’s Own Story To Tell. Every Wrinkle Or Grain On The Texture Reminds You Of Its Uniqueness And Character. Get One For Your Home - It’ll Bring A Feeling Of Warm And Cosy Comfort Into Your Life.</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/leather-landing-banner.jpg?16005"%}
	{%assign description="<p>At Modish, we have a curated collection of leather furniture and decor products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Kalalou, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc, besides our inhouse brand Artisan Living.</strong></em></p>"%}
	{%assign name_handle= "" %}
{%elsif page.handle == 'work-from-home-covid19-pandemic-home-office-desk-chair' %}
	{% assign name= 'Home Covid19 pandemic Home Office Desk Chair' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/work-from-home-wfh-furniture-coronavirus-stay-at-home-covid19" %}
	{%assign name_title= "<h2 class='headings'>HOME-OFFICE PRODUCTS FOR A WORK-FROM-HOME (#WFH) LIFESTYLE</h2>"%}
	{% assign name_description="<p>Buy Modish Work-From-Home Products To Beat The Covid_19 Pandemic! As The Relationship Between 'Work' And 'Home' Takes A New Meaning In Our Lives, Modish Brings You A Unique Collection Of Accessories, Tools, Furniture Items To Adapt To This New Reality.</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/Sustainable_Desktop_1920x.jpg?v=1532519759"%}
	{%assign description="<p>At Modish, we have a curated collection of leather furniture and decor products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Kalalou, Modway, HomArt, Zuo, GoHome, Vagabond, Gold Leaf, Zodax etc, besides our inhouse brand Artisan Living.</strong></em></p>"%}
	{%assign name_handle= "work-from-home-wfh-furniture-coronavirus-stay-at-home-covid19" %}

{%elsif page.handle == 'garden-age-supply-stone-furniture-fountains-figures-landscaping-tables-benches-stone-buddhas' %}
	{% assign name= 'Garden Age' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/garden-age-supply" %}
	{%assign name_title= "<h2 class='headings'>GARDEN AGE SUPPLY - NATURAL STONE FURNITURE, FOUNTAINS, FIGURES, LANDSCAPING, TABLES, BENCHES, STONE BUDDHAS</h2>"%}
	{% assign name_description="<p>Every Product From Garden Age Supply Has It’s Own Story To Tell. Get One For Yourself - It’ll Add A Dash Of Style & Elegance To Your Cherished Home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/garden-age-banner.png?v=1581571414"%}
	{%assign description="<p>At Modish, we have a curated collection of driftwood decor, furniture and lighting products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Artisan Living, Kalalou, Modloft, Uttermost, Garden Age, Modway, HomArt, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "garden-age-supply" %}

{%elsif page.handle == 'uttermost-accent-furniture-mirrors-wall-decor-clocks-lamps-art' %}
	{% assign name= 'Uttermost' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/uttermost" %}
	{%assign name_title= "<h2 class='headings'>THE UTTERMOST BRAND - ACCENT FURNITURE, MIRRORS, WALL DECOR, CLOCKS, LAMPS, ART</h2>"%}
	{% assign name_description="<p>Every Uttermost Product Has It’s Own Story To Tell. Get One For Yourself - It’ll Add A Dash Of Style & Elegance To Your Cherished Home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/uttermost-banner-4.jpg?v=1580189035"%}
	{%assign description="<p>At Modish, we have a curated collection of driftwood decor, furniture and lighting products for your modern home. Our special focus on sustainability and environment has led to a large range of refurbished, reclaimed &amp; recycled products that are stylish and chic. The Modish catalogue consists of high quality, exquisite, hand-crafted or artisan made items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Artisan Living, Kalalou, Modloft, Uttermost, Garden Age, Modway, HomArt, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "uttermost" %}


{%elsif page.handle == 'modloft-stylish-amp-modern-platform-beds-chairs-stools-tables' %}
	{% assign name= 'Outdoor and Patio Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/modloft" %}
	{%assign name_title= "<h2 class='headings'>MODLOFT – STYLISH & MODERN PLATFORM BEDS, CHAIRS, STOOLS, TABLES</h2>"%}
	{% assign name_description="<p>Every Bed, Chair Or Stool From Modloft Has It’s Own Story To Tell. Get One For Yourself - It’ll Add A Dash Of Style & Elegance To Your Cherished Home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/standard_resolution-min.jpg?v=1582528766"%}
	{%assign description="<p>At Modish, we have a curated collection of decor, furniture and lighting products for your modern home. Our special focus on well designed, contemporary styles has led to a large range of stylish and chic products in different materials, colors, looks and finishes. The Modish catalogue consists of high quality, fashionable items that are a gushing mix of functionality, durability, comfort and good looks. We sell reputed brands like <em><strong>Artisan Living, Kalalou, Modloft, Uttermost, Garden Age, Modway, HomArt, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "modloft" %}

{%elsif page.handle == 'outdoor-patio-garden-furniture' %}
	{% assign name= 'Outdoor and Patio Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/lawn-and-garden" %}
	{%assign name_title= "<h2 class='headings'>OUTDOOR AND PATIO FURNITURE</h2>"%}
	{% assign name_description="<p>The Patio Is A Much Loved Part Of Your Home, Meant For Parties, Barbeque, Sun Bathing Or Relaxing While Spreading Out Outdoors. Modish Has A Precious Collection Of Patio & Outdoor Furniture To Suit Your Taste And Style.</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/outdoor_landing_page_banner.jpg?17430200695814411899"%}
	{%assign description="<p>At Modish, we have a curated collection of products in <strong>home decor</strong>, <strong>furniture, outdoors and lighting</strong> for your modern home. Our special focus on <strong>sustainability and environment</strong> has led to a large range of <strong>refurbished, reclaimed &amp; recycled products</strong> that are stylish and chic. The Modish catalogue consists of <strong>high quality, exquisite, hand-crafted or artisan made</strong> items sourced from different countries in rustic, industrial, farmhouse and vintage styles. We sell reputed brands like <em><strong>Kalalou, Artisan Living, Modway, HomArt, Zuo, Garden Age, Uttermost, Modloft, Sika Design</strong></em>&amp; many more<strong></strong><em><strong>.</strong></em></p>"%}
	{%assign name_handle= "lawn-and-garden" %}

{%elsif page.handle == 'beds-bedroom-sets-headboards-mattresses-bedroom-furniture' %}
	{% assign name= 'Beds Bedroom Sets Headboards Mattresses Bedroom Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/bedroom" %}
	{%assign name_title= "<h2 class='headings'>BEDROOM FURNITURE: BEDS, BEDROOM SETS, HEADBOARDS, MATTRESSES</h2>"%}
	{% assign name_description="<p>Every Bed, Bedroom Set Or Mattress You Buy From Modish Has It’s Own Story To Tell. Get One For Yourself - It’ll Add A Dash Of Style & Elegance To Your Cherished Home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/ea560e57-d854-464c-9e17-7089fb1cc809.png?v=1594967683"%}
	{%assign description="<p>At Modish, we have a curated collection of beds, bedroom sets, headboards &amp; mattresses for your modern home. The Modish catalogue consists of high quality, exquisite, elegantly designed bedroom furniture pieces across a wide variety of sizes, styles and designs. We sell reputed brands like <em><strong>Modway, Whiteline, Modloft, Flash, Greenington, Artisan Living, Kalalou, Uttermost, Garden Age, HomArt, GoHome, Vagabond, Gold Leaf, Zodax etc.</strong></em></p>"%}
	{%assign name_handle= "bedroom" %}

{%elsif page.handle == 'the-top-selling-12-woven-chairs-on-modish' %}
	{% assign name= 'The Top Selling 12 Woven Chairs on Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/dining-sets" %}
	{%assign name_title= "<h2 class='headings'></h2>"%}
	{% assign name_description="<p></p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-banner.jpg?v=1589863476"%}
	{%assign description="<h2><strong>Take A Seat: Our 12 Top Selling Woven Chairs</strong></h2><p>A chair can be so much more than just an object that you sit on. It can add style and grace to any interior. It can be crafted to help you relax. It can be a comfortable and admired piece that's a source of comfort over the years.</p><p>Chairs come in so many alluring styles. They can be <strong>chaise loungers, pool lounge chairs, patio lounge chairs, restaurant chairs</strong>, and so much more.</p><p>Woven chairs deliver all of these qualities and more. They come in many designs and materials, from the organic to the synthetic. Among these are <strong>woven wicker chairs, woven rattan chairs, or metal chairs</strong> with a durable fabric-like structure. </p><p>This makes them perfectly suited to serve as <strong>lounge chairs, dining room chairs, pool chairs, outdoor chairs</strong>, or just any other purpose you can think of. Sit back and take your pick from any of these 12 bestselling woven chairs on Modish.</p>"%}
	{%assign name_handle= " " %}
{%elsif page.handle == 'sofas-sectionals-sofa-sets-loveseats-recliners-armchairs-chaises-couches-divas' %}
	{% assign name= 'Sofas, Sectionals, Sofa Sets, Loveseats, Recliners, Armchairs, Chaises, Couches, Divans' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/sofas" %}

	{%assign name_title= "<h2 class='headings'>SOFAS, SECTIONALS, LOVESEATS, RECLINERS, ARMCHAIRS, CHAISES & MORE</h2>"%}
	{% assign name_description="<p>Every Sofa you buy from Modish has it’s own story to tell. Get one for yourself - it’ll add a dash of style & elegance to your cherished home!</p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/image_1_15035e0f-716e-46fa-aa2e-9f59a1f9ae5e.png?v=1597045302"%}
	{%assign description="<p class="text-center">At Modish, we have a curated collection of sofas, sectionals, sofa sets, loveseats, recliners, armchairs, chaises, couches, divans for your modern home. The Modish catalogue consists of high quality, exquisite, elegantly designed Sofas across a wide variety of sizes, styles and designs. We sell reputed brands like <em><strong>Modway, Modloft, Edloe Finch, Safavieh, URBN Torvi, Baxton, Zuo Modern etc.</strong></em></p>"%}
	{%assign name_handle= "moes-home-collection-outdoor-furniture" %}
{%endif%}


<div class="">      

<div class="landing_banner" style="background-image: url('{{name_url}}');">
<div class="img_overlay"></div>
<div class="banner_content">
<div class="wrapper">

  {{name_title}}
<h4 class="text-center">{{name_description}}</h4>
<a href="{{name_href}}" target="_blank" class="btn buy-now-btn sale__Tag" rel="noopener noreferrer">
<!--   <img src="https://cdn.shopify.com/s/files/1/0236/1829/files/sale-tag-2.png?v=1582010762"> -->
  Buy now</a>
</div>
</div>
</div>
  
<div class="faq-back-color hidden-pocket">
<ul class="landing_menu">
<li><a href="#topCollections">Collections</a></li>{% render 'icon', icon: 'circle' %}
<li><a href="#faq">FAQs</a></li>

{%if page.handle contains "christmas-tree-decorations-ornaments-lights-gifts" or page.handle contains "garden-age-supply-stone-furniture-fountains-figures-landscaping-tables-benches-stone-buddhas"%}
  {%else%}  
  <li><a href="#buying_guides">Buying Guide</a></li>  
  {%endif%}
{%if page.handle contains "garden-age-supply-stone-furniture-fountains-figures-landscaping-tables-benches-stone-buddhas" or page.handle contains "uttermost-accent-furniture-mirrors-wall-decor-clocks-lamps-art"%}
  
  <li><a href="#care">Maintenance &amp; Care</a></li>
  {%endif%}
</ul>
  
</div>

<!--    -->
  <div class="section-page"> 
     <div class="section-container"> 
      {%if description%}
          	<div class="card__header card__header--tight back-color" style="text-align: center;">
              {{description}}
      		</div>
   <div class="card__header card__header--tight"></div>
	  {%endif%}
     </div>
  </div>
</div>
<!--  Top Categories -->
{%if page.handle != "buy-leather-furniture-decor-chairs" %}
<div class="section-page">                    		
<!--  -->

  <div class="card__header card__header--tight back-color"></div>
<!--    -->
			 
  {%- assign child_collection_links = linklists[name_handle].links -%}

                {% if linklists[name_handle] != empty  %}
                 {%if name_handle != " " %}   
    <a name="topCollections">
      
    <div class="collection__title heading h2 section-page-heading">
      
      Top Collections in {{name}}
      <div id="left_line"></div>
        <div id="right_line"></div>
      
      
     
    </div>
     
  		
     
    </a>   {%endif%}              
<div class="card__header card__header--tight"></div>
  
<div class="section-container">
  <div style="float: right;"> 
    <span>
      <a href="{{name_href}}" class="link">See all ></a>
    </span>
  </div>
                 <div class="product-list product-list--collection product-list--with-sidebar section-centre section-width">

                 {% for link in linklists[name_handle].links %}

              <!--  Tejashwani 30/12/2020 Start uncommented     -->
                  {% assign collection_category = link.object %}
                  
                  <div class="product-item product-item--vertical 1/5--desk 1/3--tablet-and-up section-img">

                     <div class="product-wrap section-block">
          
                      <a  href="{{collection_category.url}}" itemprop="url" >
                          <div class="img-border">
                            <div style="height: 184px;">
                            {% if collection_category.image %}

                            <img class="image--fade-in lazyloaded collection_img" src="{{ collection_category | img_url: '200x250' }}"  alt="{{ collection_category.title | escape }}" display="block"  />

                            {% else %} 

                            <img class="image--fade-in lazyloaded collection_img"  src="{{ collection_category.products.first | img_url: '200x250' }}"  alt="{{ collection_category.title | escape }}" display="block"/>

                            {% endif %}
                            </div>
                          </div>
                      </a>
                      <a class="collection-info__caption " href=" {{ collection_category.url}}" itemprop="url">
             
                        <div class="link pro-title">
                         
                          {{ collection_category.title }}                         
             
                        </div>
              
                      </a>   
                    </div>
                  </div>


               {% endfor %}

                  </div>
 </div>        
              {% endif %}            
</div>
{%endif%}


 <div class="card__header card__header--tight back-color"></div>
{%if page.handle contains "modloft-stylish-amp-modern-platform-beds-chairs-stools-tables" or page.handle contains "tv-stands-entertainment-center-tv-console"%}

{%else%}
<div class="back-color section-page">    
 <a name="topProducts">
      
    <div class="collection__title heading h2 section-page-heading">
     
      Top Selling Products in {{name}}
       <div id="left_line"></div>
        <div id="right_line"></div>
    
    </div>
 </a>  
<div class="card__header card__header--tight"></div>
  
</div>


<div class="section-page">
  <div class="section-container">
 	<div style="float: right;"> 
    <span>
      <a href="{{name_href}}" class="link">See all ></a>
    </span>
  </div>
</div>
</div>
{%endif%}


{{ page.content }}
<style>
  .landing_menu {
      text-align: -webkit-center;
     text-align: center;
  }
  .landing_menu li {
    display: inline-block;
    font-size: 16px;
    margin: 0 30px 0 0;
    padding: 7px 0;
}
/*  .landing_menu li:after {content: "";} */
  .landing_menu li:last-child:after { content: none; }
   .landing_menu li:after {
    content: "";
     margin-top: 13px;
    margin-left: 10px;
    /* width: 63%; */
    /* height: 43px; */
    border: 1px solid;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    width: 5px;
    /* top: calc(50% - 2px); */
    height: 5px;
}
/*   Image banner */
/*    */
  @media screen and (min-width: 641px){
    .section-container{
    padding: 0 150px;
    }
    .faq-section-container{
    padding: 0 140px;
    }
    
    .back-color{    
    padding-top: 40px;
  }
  }
  .faq__group-list{
     padding: 0 10px;
  }
/*  changing theme attributes  */
  .product-item{
  position: unset;
  }
/*    */
  .back-color{
    background: #fff;
    padding-top: 40px;
  }
/*   top collection start */
   .section-page{
/*       padding: 30px 0; */
/*     margin-top: 20px; */
     background: #fff;
  
  } .section-page-heading{
      text-align: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 0px;
  }
  
  .section-img{ 
/*     border: 2px solid #ccc;   */
    position: unset;
/*         margin-left: 19px; */
    margin-bottom: 10px;
    padding:10px;
  }
  .img-border{
   border: 2px solid #ccc; 
   height: 184px;
   overflow: hidden;
   width: 186px;
   display: inline-block;
    

  }
    .img-border:hover{
       border: 2px solid #da6300;
    overflow: hidden;
    transition: .3s all;
    backface-visibility: hidden;
  }
  .section-block{
  width: 100%; align-self: center;
  
      text-align-last: center;}

  
  .collection_img{
    transition: .5s all;
/*         max-height: 180px;
   
    max-width: 186px; */
    width:100%;
/*     height: 180px; */
    object-fit: cover;

    
  
  }
   .collection_img:hover{transform: scale(1.1);}
 
  @media screen and (max-width: 1000px){
     .page-text{
      padding: 0 10px;}
    .section-page-heading{font-size: 20px;} 
    .section-img{ 
   
        margin-left: auto;
          padding: 0px;
      position: unset;
    border: none;
      margin-bottom: 5px;

  }
    
  }

    
  

  /*   end collection start */
  
  
  
  .block-width{
  max-width: 1024px;
  
  }
  
  
  .headings{
  		font-size:40px;
      	color: #fff;
    	font-weight: 400;
    	margin-bottom: 16px;
    	line-height: normal;
        background-color: #676161;
}
  }
  @media screen and (min-width: 608px){
      .headingp{

    font-size: 20px;
    text-transform: capitalize;
    line-height: 1.4;
    font-weight: 300;
  }
  }

  
  @media screen and (max-width: 1024px){
.block-width {
    max-width: 1000px;
}
  
  
  }
/*  for phone  */
  @media screen and (max-width: 608px){
    
      .headingp{
/*       margin-left: 18%; */
/*     margin-right: 18%; */
    font-size: 14x;
/*     text-transform: capitalize;
    line-height: 1.4;
    font-weight: 300; */
  }
    
    
  .headings{
  		font-size:22px;
    text-align: -webkit-center;
        
}
      
  }
  
  }
  
  
/*    FAQ sec */
  
  .faq-back-color, .care-back-color{
  background-color: #e9e8e2;
  }
  .faq-margin{
		margin-bottom:10px;
  		padding:unset;
  }
 .ques {
    /* padding: 10px; */
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0;
    background-color: #f3f3f3;
    padding: 7px 15px 7px 15px;
    cursor: pointer;
    position: relative;
    text-transform: initial;
}
  .faq__answer{
      padding: 7px 15px 7px 15px;
      margin: 10px 1px 10px 0;
  }
  .round_btn{
    background: #ccc;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
  
  }
  .buying-guide-tag .container p{
    text-align: center;
  }
  
  @media screen and (min-width: 1000px){
.product-item__label-list {
    left: 11px;
}
    .mosaic__item>:first-child{
       min-height: 386px;
    }
  
/*     .mosaic__item>:first-child{
          min-height: 512px;
    } */
  
  }
  
  @media screen and (max-width: 640px){
.product-item__label-list {
    left: 3px !important;
}
  }
  
          #{{name_rplc}} {
                background-color: rgba(0,0,0,0);
                color: #ffffff
              }

              #{{name_rplc}} .button {
                background: #DA6300;
                color: #f3f4f4;
              }#{{name_rplc}}.promo-block--overlay::before {background: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0.5));
                }
    #left_line{
        height: 1px;
        border: 0.1rem solid #da6300;
        margin-left: 46%;
        margin-right: 46%;
      background-color: #da6300;
    }
    #right_line{
        height: 1px;
        border: 0.1rem solid #a7a49d;
        margin-top: 3px;
        margin-left: 48%;
        margin-right: 48%;
      background-color: #a7a49d;
    }

      @media screen and (max-width: 640px){
      #left_line {
        margin-left: 44%;
        margin-right: 44%;
    }
    #right_line{
       margin-left: 46%;
        margin-right: 46%;
    }

        .buying-guide-care, .buying-guide-back{
        padding:10px;
          margin: 10px;
        }

      }
      .buying-guide-tag{
      text-align: center;
      }
      .pro-title{
            text-align: -webkit-center;
        line-height: 1.4;
    /*     margin-top: 10px; */
        margin: 5px 0px 0.5em;
      }
      .promo-block__image-wrapper--cover{
    /*       transform: none;
        transition: none; */
    }

      }

      @media not all, (hover: hover){


      .features--animate-zoom .promo-block:hover .promo-block__image-wrapper--cover{

      transform: unset;}
      }
      .promo-block__image-wrapper--cover{
      -webkit-transition: none !important;
      -moz-transition: none !important;
      -o-transition: none !important;
      transition: none !important;
          transform: none;
      }

      .promo-block__image-wrapper{
        transition: unset;
      }
      ul{
          list-style-position: outside;}
      .buying-guide-care ul li{

          list-style-type: ">>";
            padding: 0 0 0 12px;
      }
/*    */
          .gfg {
            margin: 3%;
            position: relative;
        }
  
        .first-txt {
/*             position: absolute;
            top: 17px;
            left: 50px; */
              /* z-index: 1045; */
    /* margin: 0 0 0 0; */
    left: 0;
    right: 0;
    color: #fff;
    top: 10%;
    position: absolute;
    /* top: 17px; */
    /* left: 50px; */
    text-align: center;
    width: 100%;
        }
  
        .second-txt {
            position: absolute;
            bottom: 20px;
            left: 10px;
        }
  .banner-image{
    min-height: 260px;
    width: 100%;
  }
  
  
    .landing_banner{
/*     background: url(//web.archive.org/web/20200628172604im_/https://cdn.shopify.com/s/files/1/0236/1829/t/169/assets/landing_banner_bg_1920x.jpg?v=1552386…) no-repeat center center; */
    background-size: cover;
    position: relative;
    padding-bottom: 0;
    background-attachment: fixed;
    }
  @media screen and (max-width: 990px){
.landing_banner {
    padding-bottom: 0;
}}
    @media screen and (max-width: 769px){
.landing_banner {
    background-attachment: inherit;
}}
/*   
    .landing_banner .img_overlay{
    background: rgba(0,0,0,0);
    } */
    .landing_banner .img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}
    .landing-page .banner_content {
    color: #fff;
    text-align: center;
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 100%;
}
    
    @media screen and (max-width: 990px){
.landing_banner .banner_content {
    position: relative;
}}
   .wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 12px;    
     text-align: center;
}
    
    @media only screen and (min-width: 768px){
.wrapper {
    padding-top: 0;
}
    }
  .landing-page .banner_content h4, .landing-page .banner_content .h4 {
    font-size: 20px;
    color: #fff;
}
    .text-center {
    text-align: center !important;
    color: #fff;
    line-height: 1.7rem;
    font-size: 22px;
    
    text-transform: capitalize;
    
      
}
    @media screen and (max-width: 990px){
     .text-center {
       font-size: 14px;}
    }
    
    .btn.buy-now-btn.sale__Tag, .buy-now-btn.sale__Tag.btn-secondary, input.buy-now-btn.sale__Tag[type="submit"], .buy-now-btn.sale__Tag.header-cart-btn {
    position: relative;
}

.buy-now-btn {
    background: #DA6300;
}
    .btn, .btn-secondary, input.btn-secondary, input[type="submit"], .header-cart-btn {
    display: inline-block;
    padding: 8px 20px;
    margin: 0px 0px 61px 0px;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    
   
    border-radius: 0;
   
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    
    
    background-color: #DA6300;
    color: #fff;
}
    .wrapper:after {
    content: "";
    display: table;
    clear: both;
}
    .btn.buy-now-btn.sale__Tag img, .buy-now-btn.sale__Tag.btn-secondary img, input.buy-now-btn.sale__Tag[type="submit"] img, .buy-now-btn.sale__Tag.header-cart-btn img {
    position: absolute;
    right: -67px;
    top: -7px;
    width: 76%;
    display: block !important;
}
  @media screen and (max-width: 680px){
    .btn.buy-now-btn.sale__Tag img, .buy-now-btn.sale__Tag.btn-secondary img, input.buy-now-btn.sale__Tag[type="submit"] img, .buy-now-btn.sale__Tag.header-cart-btn img {
    right: -50px;
    
    }
    .btn, .btn-secondary, input.btn-secondary, input[type="submit"], .header-cart-btn{
    padding: 1px 11px;
    font-size: 13px;
    }
  
  }
   
    @media only screen and (min-width: 768px){
.wrapper {
       padding-top: 64px;
      text-align: -webkit-center;
}{
@media screen and (min-width: 481px){
.wrapper {
    padding: 0 24px;
}}
  
</style>

  				
  		
                  
                  
                   