<!--id=59-->
{%if page.handle == 'buddha-buddhism-inspired-products-hand-palm-buddha-chair-head-busts' %}
	{% assign name= 'Top Buddha & Buddhism Inspired Products On Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='h2'>TOP BUDDHA & BUDDHISM INSPIRED PRODUCTS ON MODISH</h2>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-buddha-banner.jpg?v=1585543581"%}
	{%assign description='<p>Those are just some of the emotions <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">Buddhism</a> inspires. And it would not be wrong to say that a host of people would want their interiors to reflect these values. In a world filled with constant ups and downs, <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">Buddhist aesthetics</a> and meditation offer a way to stay grounded and calm, without the clutter. Here are ten ways to transform areas of your home or office into a peaceful sanctuary, inspired by a <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">Buddhist lifestyle</a>. With the most inspiring <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">Buddha statues</a>, <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">Buddha gifts</a>, <a href="https://www.modishstore.com/collections/buddha-hand-shaped-accent-chairs" target="_blank" rel="noopener noreferrer">Buddha chairs</a>, <a href="https://www.modishstore.com/pages/search-results-page?q=buddha+head" target="_blank" rel="noopener noreferrer">Buddha heads</a>, busts, <a href="https://www.modishstore.com/collections/buddha" target="_blank" rel="noopener noreferrer">lucky charms</a>, paintings, and more, it is the time to raise your spiritual quotient.</p>'%}
	{%assign name_handle= "" %}

{%elsif page.handle == 'top-teak-root-furniture-to-buy-from-modish'%}
	{% assign name= 'Modish Best Sellers In Teak Root Furniture' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='h2'>Modish Best Sellers In Teak Root Furniture</h2>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/teak-modish-banner.jpg?v=1585122742"%}
	{%assign description='<p>When it comes to choosing furniture for your house, <a href="https://www.modishstore.com/collections/recycle-furniture" target="_blank" rel="noopener noreferrer">t</a><a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">eak root furniture</a><a href="https://www.modishstore.com/collections/recycle-furniture" target="_blank" rel="noopener noreferrer"> </a>can be an exotic choice. <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">Teak root furniture</a> is stylish, durable and adds a lot of character to any space. It is also weather-resistant which makes it a perfect choice for craftsmen for building both indoor and <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">outdoor furniture</a>.</p><p>Teak originates from <em>Tectona Grandis</em>, a species of hardwood tree that is found in South Asia and belongs to the <em>Lamiaceae</em> family. At present, <em>Myanmar</em> has the largest number of teak trees, though teak was introduced in the forests of Indonesia 400 years ago during the occupation of the Dutch. These trees are large deciduous trees that have fragrant white flowers and rough leaves.</p><p>The wood obtained from the center of the tree has a golden yellow appearance and is commonly called <em>heartwood teak</em>. It has natural oils, resins, and terpenes that make it resistant to decay. <em>Sapwood teak</em> is the outer part of a teak tree and has a creamy color. It has a lower content of natural oils that makes it more prone to damage.</p><h2><strong>How is the teak root used?</strong></h2><p>The roots of a teak tree can also be used for manufacturing stunning <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">pieces of furniture</a>. The root wood has a rich golden tone and is blessed with natural durability that helps craftsmen to design bespoke pieces. Items such as <strong>teak root coffee table, teak root console table, teak root bench, teak root plant stand or teak root dining table</strong> can be created from whole <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">teak root pieces</a>.</p><p>Teak root wood is obtained from fallen teak trees. The roots are dug up from the ground and dried to enhance the durability. Once the root is ready for use, artisans study the cluster of roots to determine how the root can be shaped into a piece of furniture. Therefore, the design of each furniture is guided by the natural shape of the roots and that makes them completely unique. Some root clusters are also carved into <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer"><strong>teak root sculptures</strong></a> that can serve as a true statement piece for <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">your decor</a>.</p><h2><strong>Why opt for teak root furniture?</strong></h2><p>The uniqueness associated with teak root attracts everyone. A bookshelf or bed made out of <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">teak root wood</a> can last for a lifetime. Teak wood has water-resistant properties and does not splinter easily. It can also withstand extreme temperatures due to its high oil content. From elegant tables to attractive display furniture, teak wood is very versatile and is a top choice of furniture connoisseurs.</p><p>However, the quality of <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">teak root furniture</a> pieces available in the market varies. So always make a thorough assessment before making the purchase.</p><h2><strong>Adorn your space with these lovely creations</strong></h2><p>If you are looking to spruce up the <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">decor </a>of your space, adding new furniture is a great option. We have curated a list of exquisite <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">teak root furniture</a> available on <a href="https://www.modishstore.com/collections/teak-wood" target="_blank" rel="noopener noreferrer">Modish</a> that will truly transform your space.</p>'%}
	{%assign name_handle= "" %}

{%elsif page.handle == 'top-selling-candle-holders-candelabras-votives-tealights' %}
	{% assign name= 'Top Selling Candle Holders Candelabras Votives Tealights' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="" %}
	{%assign name_title= "<h2 class='h2'>TOP SELLING CANDLE HOLDERS CANDELABRAS VOTIVES TEALIGHTS</h2>"%}
	{% assign name_description=""%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-banner_31b2aecd-1462-4be2-87a4-fa01b186c538.jpg?v=1594708436"%}
	{%assign description='<p>Intimate dinners, romantic occasions, and cozy nooks arent complete without candlelight. To embrace and frame the <a href="https://www.modishstore.com/collections/candles" target="_blank" rel="noopener noreferrer">candles</a>, there are a variety of <strong><a href="https://www.modishstore.com/collections/candlesticks-candle-holders" target="_blank" rel="noopener noreferrer">candlestick holders</a>, <a href="https://www.modishstore.com/collections/candle-sconces-candle-holders" target="_blank" rel="noopener noreferrer">candle wall sconces</a>, <a href="https://www.modishstore.com/collections/votive-holders-candle-holders" target="_blank" rel="noopener noreferrer">votive candle holders</a></strong>, <a href="https://www.modishstore.com/collections/hurricanes-candle-holders" target="_blank" rel="noopener noreferrer">hurricanes</a>, and <a href="https://www.modishstore.com/collections/tea-lights-candle-holders" target="_blank" rel="noopener noreferrer"><strong>tea light candle holders</strong></a> to choose from. <a href="https://www.modishstore.com/collections/candle-holders" target="_blank" rel="noopener noreferrer">At Modish</a>, we have a collection that fits any mood and uplifts every moment. These <a href="https://www.modishstore.com/collections/candelabra-candle-holders" target="_blank" rel="noopener noreferrer"><strong>candelabras</strong></a>, votives and tealights are designed to cast a soft and flattering light on the surroundings. The illumination they provide is perfectly suited to light up all those quiet, cherished moments.</p><p>Take a look at our bestselling <a href="https://www.modishstore.com/collections/candle-holders" target="_blank" rel="noopener noreferrer"><strong>candle holders</strong></a> and get ready for your home to fill with an enchanting glow.</p>' %}

{%elsif page.handle == 'the-top-selling-12-woven-chairs-on-modish' %}
	{% assign name= 'The Top Selling 12 Woven Chairs on Modish' %}
	{% assign name_rplc= name | replace: ' ', '-'| replace: ',', ''| replace: '&', '' %}
	{%assign name_href="https://www.modishstore.com/collections/dining-sets" %}
	{%assign name_title= "<h2 class='h2'></h2>"%}
	{% assign name_description="<p></p>"%}
	{%assign name_url="https://cdn.shopify.com/s/files/1/0236/1829/files/modish-banner.jpg?v=1589863476"%}
	{%assign description='<h2><strong>Take A Seat: Our 12 Top Selling Woven Chairs</strong></h2><p>A chair can be so much more than just an object that you sit on. It can add style and grace to any interior. It can be crafted to help you relax. It can be a comfortable and admired piece that is a source of comfort over the years.</p><p>Chairs come in so many alluring styles. They can be <strong><a href="https://www.modishstore.com/collections/lounge-chairs" target="_blank" rel="noopener noreferrer">chaise loungers</a>, <a href="https://www.modishstore.com/collections/outdoor-recliners-lounge-chairs" target="_blank" rel="noopener noreferrer">pool lounge chairs</a>, <a href="https://www.modishstore.com/collections/outdoor-recliners-lounge-chairs" target="_blank" rel="noopener noreferrer">patio lounge chairs</a>, <a href="https://www.modishstore.com/collections/dining-chairs" target="_blank" rel="noopener noreferrer">restaurant chairs</a></strong>, and so much more.</p><p><a href="https://www.modishstore.com/collections/leather-padron-chairs" target="_blank" rel="noopener noreferrer">Woven chairs</a> deliver all of these qualities and more. They come in many designs and materials, from the organic to the synthetic. Among these are <strong><a href="https://www.modishstore.com/collections/leather-padron-chairs" target="_blank" rel="noopener noreferrer">woven wicker chairs</a>, <a href="https://www.modishstore.com/collections/leather-padron-chairs" target="_blank" rel="noopener noreferrer">woven rattan chairs</a>, or <a href="https://www.modishstore.com/collections/metal-counter-chairs-by-modish" target="_blank" rel="noopener noreferrer">metal chairs</a></strong> with a durable fabric-like structure. </p><p>This makes them perfectly suited to serve as <strong><a href="https://www.modishstore.com/collections/lounge-chairs" target="_blank" rel="noopener noreferrer">lounge chairs</a>, <a href="https://www.modishstore.com/collections/dining-chairs" target="_blank" rel="noopener noreferrer">dining room chairs</a>, <a href="https://www.modishstore.com/collections/outdoor-recliners-lounge-chairs" target="_blank" rel="noopener noreferrer">pool chairs</a>, <a href="https://www.modishstore.com/collections/outdoor-chairs" target="_blank" rel="noopener noreferrer">outdoor chairs</a></strong>, or just any other purpose you can think of. Sit back and take your pick from any of these 12 bestselling <a href="https://www.modishstore.com/collections/leather-padron-chairs" target="_blank" rel="noopener noreferrer">woven chairs on Modish</a>.</p>'%}
	{%assign name_handle= " " %}

{%endif%}
<div class="container container--narrow conatiner-buy" >
  
  <header class="page__header--centered">
  <center> <h1 class="section__title heading h1 title-css">{{ page.title }}</h1> </center>


</header>
  
  
<div>      
				<!--         Image                -->
               <!--    -->
<div>
  <img src="{{name_url}}" alt="{{ page.title }}">

</div>
<!--    -->
  <br><br>
      {%if description%}
          	<div class="description">
              {{description}}
      		</div>
   <div class="card__header card__header--tight"></div>
	  {%endif%}
</div>

{{ page.content }}
</div>

<style>
  .title-css{
  color: #221f1f;
    text-transform: capitalize;
    background-color: #f2f2f2;
/*     color: #636363; */
    font-size: 24px;
    font-weight: 700;
    padding: 7px;
    text-align: center;
  
  }
  .description p a{
  color: var(--primary-button-background) !important;
  }
  .pro-title{
    text-align: center !important;
      color: #000 !important;
  }
  .pro-title:hover{
      color: var(--primary-button-background) !important;
  }
  .vendor{
    font-size:18px;
  }
  .price-p{
  color: var(--primary-button-background) !important;
  }
  #main{
  background: #ffffff;
  }
  .conatiner-buy{
   	max-width: 1158px;
  }
  .landing_section_title{
  	text-align: center;
    background-color: #da6300;
    padding: 7px;
    margin-bottom: 30px;
  }
  .landing_section_title h2{
      font-size: 1.35em;
    font-weight: bold;
    margin-bottom: 0;
    color: #fff;
  }
  .title{
  font-size:22px;
      color: #000;
  }
  .product-item__info{
      background: #ededee;
    border: 1px solid #ededee;
    padding: 20px;
    position: relative;
    margin-top: 9px;
  }
  .border{
      border: 1px solid #cccccc6b;
  }
  .btnb{
  float: right !important;
    border-radius: 9px !important;
  }
  .offer-item{
    border:none;
  }
  .description{
  	margin: 20px 0;
    font-size: 17px;
  }
  .offer-item__content{
 	padding: 20px;
    margin-top: 10px;
    border: 1px solid #ededee;
    background: #ededee;
  }
  
  .offer-item__inner{
    border: 1px solid #cccccc6b;
  }
  .offer-item__title{
  	font-size: 1.5em;
    font-weight: 600;
  }
 
  .button--primary{
  	float: right;
    text-transform: uppercase;
    padding: 12px 18px;
    margin: 0;
    line-height: 1.42;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    /* font-weight: 500; */
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 10px;
  }
  .price{
    text-decoration: none !important;
    font-size: 17px !important;
    font-weight: 200;
  }
  .vendor-para{
    font-size:17px;
  }
  
 .buying-guide-tag {
    text-align: center;
  }
  .round_btn {
    background: #ccc;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 20px;
    color: #000;
    margin-bottom: 10px;
    font-size: 15px;
    cursor: pointer;
	}
  .buy-now{
  	color: #fff !important;
    text-decoration: none !important;
  }
  
   @media screen and (min-width: 641px){
     .offer-item{
  		padding: none !important;
  	 }
  }
  .imgs{
    max-height: 363px;
    overflow: hidden;
    text-align-last: center;
  }
  .offer-item.offer-item--inline{
      height: fit-content;
  }
  
  img.product-gallery__image.image--fade-in.lazyautosizes.lazyloaded{
/*     transform: translate(0%, -20%);
    width: -webkit-fill-available;
        background-size: cover!important;
    background-position: center!important;
    transform: scale(0.99); */
    max-height: 363px;
    width: 100%;
    overflow: hidden;
  }
</style>

  				
  		
                  
                  
                   